body {
	font-family: Arial;
}

th {
  background-color: blue;
  color: white;
}

.centered {
	text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.left  {
  text-align: left;
}

h1 {
  font-size: 20px;
  height: 50px;
}

h2 {
  font-size: 20px;
  height: 50px;
}

h3 {
  font-size: 15px;
  height: 50px;
}

h4 {
  font-size: 15px;
  height: 50px;
}

h5 {
  font-size: 15px;
  height: 50px;
}

h6 {
  font-size: 20px;
  height: 50px;
}

h7 {
  font-size: 15px;
  height: 50px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.hotpink-column {
  background-color: hotpink;
  height: 400px;
}

.greenyellow-column {
  background-color: greenyellow;
  height: 400px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

circle {
  fill: lightseagreen;
  opacity: 50%;
}

circle:hover {
  stroke: #000;
  stroke-width: 10px;
}

rect {
  fill: deepskyblue;
  stroke: darkblue;
  stroke-width: 10px;
}

rect:hover {
  fill: #000;
}

svg {
  width: auto
  height:;
}


