body {
	font-family: Arial;
}

th {
  background-color: blue;
  color: white;
}

#data-abstraction {
    display: flex;
    flex-direction: row;
}

.centered {
	text-align: center;
}

.container {
  display: flex;
}

.left  {
  text-align: left;
}

.circle {
  width:"170" ;
  height: "170" ;
  color : blue ;
  fill-opacity: .5;
}

.rectangle {
  width:"100" ;
  height: "100" ;
  style: fill:pink;
  stroke:blue;
  stroke-width:3 ;
}


.pinkcolumn {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  background-color: pink;
  height: 40px;
}

.bluecolumn {
  bdisplay: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  background-color: blue;
  height: 40px;
}